$divesite-grid: (
    columns: 12,
    // gutter: 2rem
);

.DiveSite {
    padding: 30px;
    @include grid-container;

    &__container {
        @include grid-column(12, $divesite-grid)
    }
    &__main {
        @include grid-column(8, $divesite-grid)
    }
    &__sidebar {
        // border: 1px solid red;
        @include grid-column(4, $divesite-grid)
    }
    &__title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        padding: 0 10px 6px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        span {
            padding-bottom: 5px;
            border-bottom: 3px solid $accent;
        }
    }

}