.DiveSiteDetail {
    width: 100%;
    height: auto;
    padding: 10px;

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 0px 10px 6px 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;

        span {
            padding-bottom: 5px;
            border-bottom: 3px solid $accent;
        }
    }

    &__list {
        list-style: none;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;

        li {
            color: #666;
            font-size: 13px;
            line-height: 22px;
            padding: 0 3px;

            &:after {
                content: ','
            }

            &:last-child {

                &:after {
                    content: ''
                }
            }
        }
        > img {
            padding: 0 5px;
        }
    }
}